.wapper {
  overflow: hidden;
}
.header__mobile {
  border-bottom: 1px solid #DBDEE5;
}
.header__mobile-notifi {
  height: 26px;
  display: block;
  line-height: 26px;
  padding-left: 10px;
  background-color: #EB6E79;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
}
.header__mobile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 7px 12px;
}
.header__mobile-list {
  display: flex;
  justify-content: space-between;
}
.header__mobile-item {
  list-style: none;
  padding-right: 18px;
  height: 24px;
  cursor: pointer;
}
.header__mobile-item:last-child {
  padding-right: 0;
}
.header__mobile-item:nth-child(3) {
  padding-top: 3px;
}
.header__mobile-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header-icon {
  cursor: pointer;
}
.header__content {
  position: fixed;
  background-color: #FFF;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__content.header__content-open {
  display: block;
}
.header__menu {
  background-color: #FAFAFA;
  padding: 0 16px;
}
.header__logo-big {
  display: none;
}
.header__navbar {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}
.header__navbar-list {
  display: flex;
}
.header__navbar-item {
  list-style: none;
  padding-right: 23px;
  position: relative;
}
.header__navbar-item:last-child {
  padding-right: 0;
}
.header__navbar-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header__navbar-separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-right: 1px solid #DBDEE6;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-first {
  padding-right: 11px;
}
.header__navbar-active-1 {
  text-transform: none;
  color: #000;
}
.header__hide {
  display: none;
}
.header__category-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  height: 44px;
  align-items: center;
  padding: 0 4px 0 3px;
}
.header__category-item {
  list-style: none;
  text-align: center;
  position: relative;
}
.header__category-item:first-child::after {
  content: "";
  border-bottom: 2px solid #2D2D2D;
  position: absolute;
  top: 100%;
  right: -7px;
  left: -9px;
}
.header__category-item-link {
  font-size: 12px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header__category-item:first-child a {
  color: #2D2D2D;
}
.header-active-2 {
  color: #2D2D2D;
}
.header__firstmenu {
  background-color: #FFF;
}
.header__firstmenu-list {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px 24px 21px;
}
.header__firstmenu-item {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 13px;
  position: relative;
}
.header__firstmenu-logout-link {
  text-decoration: none;
  color: #2D2D2D;
  align-items: center;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}
.header__firstmenu-logout-link svg {
  padding-right: 8px;
}
.header__modal {
  overflow-y: scroll;
  z-index: 1000;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__modal.header__modal-open {
  display: block;
}
.header__secondmenu {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.header__secondmenu-title {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
}
.header__secondmenu-title svg {
  cursor: pointer;
}
.header__secondmenu-service {
  display: block;
  padding: 24px 22px 0 40px;
}
.header__secondmenu-content {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px ;
}
.header__secondmenu-content:nth-of-type(2) {
  padding-top: 40px;
}
.header__secondmenu-link {
  text-decoration: none;
}
.header__secondmenu-item {
  display: flex;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
}
.header__submenu {
  display: none;
}
.header__submenu-list {
  height: 52px;
  display: flex;
  align-items: center;
}
.header__submenu-item {
  list-style: none;
  padding-right: 40px;
}
.header__submenu-item-link {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
}
.article__container {
  padding-top: 24px;
}
.article__navigation {
  display: flex;
  align-items: center;
}
.article__navigation-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #2D2D2D;
  text-transform: capitalize;
}
.article__infor {
  margin-top: 24px;
  margin-bottom: 26px;
}
.article__infor-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.article__infor-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #2D2D2D;
  text-align: justify;
  padding-bottom: 64px;
}
.article__submenu-item {
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 56px;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #DBDEE5;
}
.article__submenu-item:last-child {
  border-bottom: 1px solid #DBDEE5;
}
.article__img {
  padding-top: 100%;
  background-image: url(../svg/logo.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.hidden {
  display: none;
}
.container-nav-second {
  margin-bottom: 24px;
}
.container__title {
  font-size: 20px;
  font-weight: 600;
  color: #2D2D2D;
  padding-bottom: 20px;
}
.container__list {
  display: flex;
  padding: 16px 0;
}
.container__list-item {
  list-style: none;
  flex: 1;
  height: 44px;
  text-align: center;
  border-bottom: 1px solid #DBDEE5;
}
.container__list-item:last-child {
  border-bottom: 1px solid #EB6E79;
}
.container__list-link {
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 44px;
}
.container__border {
  border: 1px solid #DBDEE6;
  border-radius: 2px;
  margin-right: 4px;
}
.container__product {
  display: flex;
}
.container__product-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  min-width: 160px;
}
.container__product-link h3 {
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  width: 50%;
  text-align: center;
}
.container__product-link img {
  width: 50%;
}
.container__product-link svg {
  display: none;
}
.container__cate-desc p {
  padding: 20px 0;
  text-align: justify;
}
.container__cate-img-rectangle {
  display: none;
}
.container__cate-image {
  padding-top: 20px;
  border-radius: 6px;
}
.container__best-text {
  display: flex;
  justify-content: space-between;
}
.container__best-text h2 {
  padding-bottom: 40px;
}
.container__best-text-view {
  font-size: 14px;
  font-weight: 700;
}
.container__best-item {
  display: block;
  text-decoration: none;
  padding-bottom: 20px;
}
.container__best-item-img {
  position: relative;
}
.container__best-item-img div {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.container__best-item-heart {
  position: absolute;
  top: 0;
  right: 0;
}
.container__best-item-diamond {
  position: absolute;
  top: calc(100% - 30px);
  left: 0;
}
.container__best-item p {
  padding-bottom: 4px;
}
.container__best-price {
  font-size: 14px;
  font-weight: 700;
  color: #2D2D2D;
}
.container__shop-img,
.container__shop-main {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  padding-top: 60%;
}
.container__shop-img {
  background-image: url(../svg/shop.png);
}
.container__shop-main {
  background-image: url(../svg/topic-12.png);
}
.container__shop-card h2 {
  padding-bottom: 16px;
}
.container__shop-card p {
  padding-bottom: 24px;
}
.container__shop-card-btn {
  background-color: #2D2D2D;
  color: #FFF;
  width: 140px;
}
.container__shop-card svg {
  display: none;
}
.banner {
  background-color: #2D2D2D;
  margin-top: 80px;
}
.banner-img {
  background-image: url(../svg/banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  padding-top: 60%;
}
.banner__desc-content {
  padding-bottom: 60px;
}
.banner__desc-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #FFF;
  padding-top: 4px;
}
.banner__desc-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #FFF;
  padding: 24px 0;
}
.banner__desc-btn {
  background-color: #FFF;
  color: #2D2D2D;
  width: 140px;
}
.rings__text-view {
  padding-top: 38px;
  display: flex;
  align-items: center;
}
.rings__rectangle {
  display: none;
}
.rings__img {
  position: relative;
}
.rings__img-img {
  margin-top: 32px;
}
.rings__img h4 {
  text-transform: capitalize;
}
.rings__img-text-first {
  bottom: 20px;
  position: absolute;
  left: 10%;
}
.rings__img-block {
  display: block;
  position: absolute;
  bottom: 33px;
  left: 10%;
}
.rings__img-block button {
  margin-top: 16px;
}
.rings__content h2 {
  padding-bottom: 16px;
}
.rings__video-img {
  margin-top: 20px;
  position: relative;
}
.rings__video-img img {
  width: 100%;
}
.rings__video-stop {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.best__seller h2 {
  padding-bottom: 24px;
}
.best__seller-img {
  width: 100%;
  padding-bottom: 16px;
}
.best__seller p {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 24px;
}
.topic {
  background-color: #FCF9F9;
}
.topic__content p {
  padding-bottom: 32px;
  padding-top: 16px;
}
.topic__content-list {
  display: flex;
}
.topic__content-item {
  list-style: none;
}
.topic__content-item:nth-of-type(2n +1 ) {
  padding-right: 16px;
}
.topic__content-item p {
  padding-top: 8px;
}
.topic__content-img {
  padding-bottom: 32px;
}
.topic-rectangle {
  display: none;
}
.paragraph {
  position: relative;
}
.paragraph__title {
  padding-bottom: 32px;
  text-transform: capitalize;
}
.paragraph__content-list {
  padding-bottom: 32px;
}
.paragraph__content-item {
  padding-bottom: 16px;
  list-style: none;
}
.title__img {
  display: flex;
  position: relative;
}
.title__img-picture {
  height: 100%;
}
.title__img svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title__left {
  left: 4px;
}
.title__right {
  right: -30px;
}
.title__pagi {
  display: flex;
  justify-content: center;
}
.title__pagi svg {
  margin-top: 32px;
  margin-right: 8px;
}
.title__bottom-img-picture {
  width: 100%;
}
.title__bottom-img-first {
  position: relative;
  display: block;
}
.title__bottom-img svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title__bottom-left {
  left: 0;
}
.title__bottom-right {
  right: -31px;
}
.title-item {
  display: block;
}
.benefits h2 {
  padding-bottom: 66px;
}
.benefits__item {
  background-color: #FCF9F9;
  position: relative;
  padding-bottom: 36px;
}
.benefits__item svg:last-child {
  position: absolute;
  right: 0;
}
.benefits__item h6 {
  padding: 26px 0 12px 0;
}
.benefits-col {
  margin-bottom: 36px;
}
.main__subscribe {
  background-color: #000;
  position: relative;
}
.main__subscribe-text {
  color: #FFF;
}
.main__subscribe-btn {
  background-color: #EB6E79;
  height: 36px;
  width: 40px;
  cursor: pointer;
  border: none;
}
.cover__white {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 30px);
  background: linear-gradient(0, #ffffff 0%, rgba(255, 255, 255, 0) 91.21%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer {
  padding-top: 64px;
}
.footer__heading {
  background-color: #EB6E79;
  padding: 0 19px;
}
.footer__heading-close {
  display: none;
  float: right;
  padding-top: 14px;
}
.footer__heading-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 12px;
  padding-top: 26px;
  padding-bottom: 20px;
  column-gap: 14px;
}
.footer__heading-item {
  list-style: none;
}
.footer__heading-item-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}
.footer__subscribe {
  background-color: #FAFAFA;
  position: relative;
}
.footer__subscribe-block {
  padding: 57px 0;
  display: grid;
  justify-content: center;
  row-gap: 24px;
}
.footer__email {
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid #DBDEE6;
  border-radius: 2px;
}
.footer__email-input-wrap {
  flex: 1;
  height: 100%;
}
.footer__email-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #637284;
}
.footer__email-btn {
  border: none;
  height: 36px;
  width: 40px;
  background-color: #2D2D2D;
  cursor: pointer;
}
.footer__sponsor {
  position: relative;
}
.footer__sponsor-list {
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #DBDEE6;
  border-top: 1px solid #DBDEE6;
  display: flex;
  flex-wrap: wrap;
}
.footer__sponsor-item {
  flex: 1;
  list-style: none;
}
.footer__sponsor-item:first-child img {
  margin: 0;
}
.footer__sponsor-img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer__contact-logo {
  padding-top: 66px;
}
.footer__contact-rating {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 22px;
}
.footer__contact-rating h2 {
  padding-right: 12px;
  color: #2D2D2D;
}
.footer__contact-rating-point {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
}
.footer__contact-star-list {
  display: flex;
}
.footer__contact-star-item {
  list-style: none;
  padding-right: 4px;
  cursor: pointer;
}
.footer__contact-item {
  list-style: none;
  padding-bottom: 20px;
}
.footer__contact-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
  line-height: 1.8;
}
.footer__contact-finish {
  padding-top: 28px;
  padding-bottom: 16px;
}
.footer__contact-finish-link {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
  text-decoration: none;
}
.footer__contact-badges-img {
  padding-right: 14px;
  padding-bottom: 12px;
}
.footer__social {
  padding-bottom: 48px;
}
.footer__social-link {
  text-decoration: none;
  padding-left: 8px;
}
.footer__bottom {
  padding-bottom: 20px;
  display: block;
}
.footer__bottom-country {
  display: flex;
  font-size: 14px;
  font-weight: 700;
}
.footer__bottom-country-img {
  padding-right: 12px;
}
.footer__bottom-list {
  padding: 16px 37px 48px 37px;
}
.footer__bottom-item {
  list-style: none;
  padding-right: 20px;
  padding-bottom: 16px;
}
.footer__bottom-item:last-child {
  padding-right: 0;
}
.footer__bottom-item-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #637284;
}
.footer__bottom-item:first-child a {
  color: #2D2D2D;
}
.footer__bottom-year {
  color: #637284;
  font-size: 14px;
  font-weight: 500;
  padding: 0 37px;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}
.c-3,
.c-4,
.c-6,
.c-12 {
  display: block;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .p-l-80 {
    padding-left: 80px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col {
    padding-right: 10px;
    padding-left: 10px;
  }
  .l-3,
  .l-2,
  .l-4,
  .l-5,
  .l-6,
  .l-8 {
    display: block;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .m-4,
  .m-12 {
    display: block;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 420px) {
  .header__navbar {
    padding: 16px;
  }
  .header__menu {
    flex-direction: column;
    background-color: #FAFAFA;
  }
  .header__category-list {
    padding: 0 4px 0 3px;
  }
  .header__category-item {
    padding: 8px 20px;
    width: 118px;
  }
  .banner__desc-content {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .header__category-item:first-child {
    position: relative;
  }
  .header__category-item:first-child::after {
    top: calc(100% + 5px);
    right: -4px;
    left: -7px;
    content: "";
    border-bottom: 2px solid #2D2D2D;
    position: absolute;
  }
  .article__infor-title {
    font-size: 36px;
    font-weight: 600;
  }
  .article__infor-content {
    font-size: 20px;
    font-weight: 400;
  }
  .container__title {
    font-size: 32px;
    font-weight: 600;
  }
  .container__list {
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .container__cate-desc h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
  .container__cate-desc p {
    font-size: 20px;
    font-weight: 400;
  }
  .banner__desc-title {
    font-size: 32px;
    font-weight: 600;
  }
  .banner__desc-btn {
    width: 250px;
  }
  .footer__contact-help:last-child {
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .hidden {
    display: block;
  }
  .header__hide-on-pc {
    display: none;
  }
  .header__hide {
    display: flex;
  }
  .header__content {
    display: block;
    position: static;
  }
  .header__navbar {
    padding: 0;
  }
  .header__navbar-list {
    padding: 0 12px;
  }
  .header__navbar-list :last-child {
    padding-right: 0;
  }
  .header__navbar-item-link {
    font-size: 14px;
    font-weight: 500;
  }
  .header__menu {
    background-color: #FFF;
    display: flex;
    padding: 0;
  }
  .header__logo-small {
    display: none;
  }
  .header__logo-big {
    display: block;
  }
  .header__mobile-notifi {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 32px;
    line-height: 32px;
  }
  .header__mobile-title {
    padding: 8px 32px;
    flex-direction: row-reverse;
  }
  .header__mobile-list:nth-child(4) {
    order: -1;
  }
  .header__category-list {
    padding: 0;
  }
  .header__category-item {
    padding-right: 60px;
  }
  .header__category-item:last-child {
    padding-right: 0;
  }
  .header__category-item:first-child::after {
    display: none;
  }
  .header__category-item:first-child a {
    position: relative;
  }
  .header__category-item:first-child a:first-child::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #2D2D2D;
    top: calc(100% + 14px);
    right: -2px;
    left: 0;
  }
  .header__category-item-link {
    font-size: 14px;
    font-weight: 500;
  }
  .header__category-item-link p {
    display: none;
  }
  .header__firstmenu {
    display: none;
  }
  .header__submenu {
    display: block;
  }
  .header__submenu-item:last-child {
    padding-right: 0;
  }
  .article__present {
    max-width: 466px;
  }
  .article__infor-title {
    margin-top: 120px;
  }
  .article__infor-title {
    font-size: 48px;
    font-weight: 600;
  }
  .article__infor-content {
    font-size: 20px;
    font-weight: 400;
  }
  .container-nav {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .container__list-item {
    flex: 0 0 125px;
  }
  .container__border {
    border: none;
  }
  .container__product-link {
    position: relative;
  }
  .container__product-link:hover {
    border: 1px solid #DBDEE6;
    border-radius: 2px;
  }
  .container__product-link:hover svg {
    display: none;
  }
  .container__product-link h3 {
    font-size: 28px;
    font-weight: 600;
    color: #637284;
  }
  .container__product-link svg {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .container__cate {
    position: relative;
  }
  .container__cate-extends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container__cate-desc {
    max-width: 370px;
  }
  .container__cate-desc h2 {
    text-align: left;
  }
  .container__cate-img {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
  }
  .container__cate-img div {
    position: absolute;
    float: right;
    right: 5%;
    top: 20%;
  }
  .container__cate-img-rectangle {
    display: flex;
    flex-direction: column;
    position: relative;
    order: -1;
  }
  .container__cate-img-rectangle svg:last-child {
    position: absolute;
    left: -15px;
    top: 100%;
  }
  .container__cate-img img {
    width: 55%;
    height: auto;
  }
  .container__cate-image {
    padding-top: 0;
    order: -1;
  }
  .container__best {
    position: relative;
  }
  .container__best-text h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .container__best-item-img div {
    background-size: contain;
  }
  .container__best-item p {
    font-size: 14px;
    font-weight: 500;
  }
  .container__shop-Jewe {
    position: relative;
  }
  .container__shop-title {
    max-width: 80%;
  }
  .container__shop-card {
    background: #FFFFFF;
    border: 4px solid #FAFAFA;
    border-radius: 2px;
    position: absolute;
    padding: 80px 0 80px 80px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 375px);
    inline-size: 66%;
  }
  .container__shop-card h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .container__shop-card svg {
    display: block;
  }
  .container__shop-corner-m {
    position: absolute;
    left: -10px;
    top: calc(100% - 20px);
  }
  .container__shop-corner-l {
    position: absolute;
    right: 16px;
    top: 5%;
  }
  .banner__content {
    display: flex;
  }
  .banner__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 68px;
  }
  .banner__desc-content {
    width: 404px;
  }
  .rings__text {
    height: 100%;
    margin-top: 110px;
  }
  .rings__rectangle {
    display: flex;
    flex-direction: column;
    position: relative;
    order: -1;
  }
  .rings__rectangle svg:last-child {
    position: absolute;
    left: 32px;
    top: 32px;
  }
  .rings__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rings__content h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .rings__content-text {
    order: 1;
    max-width: 500px;
    margin-left: 100px;
  }
  .rings__img {
    margin-bottom: 24px;
  }
  .rings__img h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .best__seller h2 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 60px;
  }
  .topic {
    position: relative;
  }
  .topic__item {
    padding-top: 40px;
  }
  .topic__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .topic__content-desc {
    width: 418px;
  }
  .topic-rectangle {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .topic-rectangle svg:last-child {
    position: absolute;
    top: -16px;
    right: -15px;
  }
  .topic__first {
    order: 1;
  }
  .topic__second div {
    position: absolute;
    float: left;
    left: 32px;
    top: calc(100% - 34px);
  }
  .paragraph__content-list {
    padding-bottom: 0;
  }
  .footer__heading {
    height: 48px;
  }
  .footer__heading-close {
    display: block;
  }
  .footer__heading-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 48px;
    padding: 0;
  }
  .footer__subscribe h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer__subscribe p {
    font-size: 14px;
    font-weight: 500;
  }
  .footer__sponsor-item {
    position: relative;
  }
  .footer__sponsor-item::before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-right: 1px solid #DBDEE6;
    top: 40%;
    transform: translateY(-50%);
  }
  .footer__sponsor-item:first-child::before {
    display: none ;
  }
  .footer__contact-help {
    padding-top: 79px;
  }
  .footer__contact-finish {
    padding-top: 0;
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__bottom-country {
    display: block;
  }
  .footer__bottom-list {
    display: flex;
    order: 1;
    padding: 14px 0 0 0;
  }
  .footer__bottom-item {
    padding-right: 40px;
  }
  .footer__bottom-item:last-child {
    padding-right: 0;
  }
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.p-2 {
  padding-top: 2px;
}
.p-32 {
  padding: 0 32px;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  border-radius: 4px;
  border: none;
}
.fonts-1 {
  font-size: 14px;
  font-weight: 500;
}
.fonts-2 {
  font-size: 12px;
  font-weight: 500;
}
.fonts-3 {
  font-size: 14px;
  font-weight: 700;
}
.fonts-4 {
  font-size: 20px;
  font-weight: 600;
}
.fonts-5 {
  font-size: 12px;
  font-weight: 600;
}
.fonts-6 {
  font-size: 12px;
  font-weight: 400;
}
.fonts-7 {
  font-size: 48px;
  font-weight: 600;
}
.fonts-8 {
  font-size: 20px;
  font-weight: 400;
}
.fonts-9 {
  font-size: 30px;
  font-weight: 600;
}
.fonts-10 {
  font-size: 16px;
  font-weight: 600;
}
.fonts-11 {
  font-size: 36px;
  font-weight: 600;
}
.fonts-12 {
  font-size: 26px;
  font-weight: 600;
}
.fonts-13 {
  font-size: 16px;
  font-weight: 500;
}
.fonts-14 {
  font-size: 32px;
  font-weight: 600;
}
.fonts-15 {
  font-size: 28px;
  font-weight: 600;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.p-80 {
  padding-top: 80px;
}
p {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  color: #2D2D2D;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #FFF;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}
h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
}
.img {
  border-radius: 2px;
  width: 100%;
}
.filter {
  filter: brightness(80%);
}
@media (min-width: 1024px) {
  .h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }
}
