* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 343px;
  margin: 0 auto;
}
.fonts {
  font-size: 14px;
  font-weight: 500;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.main {
  overflow: hidden;
}
.header {
  height: 92px;
  background-color: #FAFAFA;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding-top: 16px;
}
.header__navbar-list {
  display: flex;
}
.header__navbar-item {
  list-style: none;
  padding-right: 23px;
  position: relative;
}
.header__navbar-item:last-child {
  padding-right: 0;
}
.header__navbar-item-link {
  color: #637284;
  text-decoration: none;
}
.header__navbar-first {
  padding-right: 11px;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.header__menu-list-item {
  height: 44px;
}
.header__menu-list-item-link {
  padding: 8px 32px;
}
