* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.fonts-1 {
  font-size: 14px;
  font-weight: 500;
}
.fonts-2 {
  font-size: 12px;
  font-weight: 500;
}
.fonts-3 {
  font-size: 14px;
  font-weight: 700;
}
.fonts-4 {
  font-size: 20px;
  font-weight: 600;
}
.fonts-5 {
  font-size: 12px;
  font-weight: 600;
}
.fonts-6 {
  font-size: 12px;
  font-weight: 400;
}
.fonts-7 {
  font-size: 48px;
  font-weight: 600;
}
.fonts-8 {
  font-size: 20px;
  font-weight: 400;
}
.fonts-9 {
  font-size: 30px;
  font-weight: 600;
}
.fonts-10 {
  font-size: 14px;
  font-weight: 500;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.wapper {
  overflow: hidden;
}
.header__mobile {
  border-bottom: 1px solid #DBDEE5;
}
.header__mobile-notifi {
  height: 26px;
  display: block;
  line-height: 26px;
  padding-left: 10px;
  background-color: #EB6E79;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
}
.header__mobile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 7px 12px;
}
.header__mobile-list {
  display: flex;
  justify-content: space-between;
}
.header__mobile-item {
  list-style: none;
  padding-right: 12px;
  cursor: pointer;
}
.header__mobile-item:last-child {
  padding-right: 0;
}
.header__mobile-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header__hide {
  display: flex;
}
.header-icon {
  cursor: pointer;
}
.header__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__content.header__content-open {
  display: block;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}
.header__navbar-list {
  display: flex;
}
.header__navbar-item {
  list-style: none;
  padding-right: 23px;
  position: relative;
}
.header__navbar-item:last-child {
  padding-right: 0;
}
.header__navbar-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header__navbar-separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-right: 1px solid #DBDEE6;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-first {
  padding-right: 11px;
}
.header__navbar-active-1 {
  text-transform: none;
  color: #000;
}
.header__category-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  height: 44px;
  align-items: center;
}
.header__category-item {
  list-style: none;
  text-align: center;
  position: relative;
}
.header__category-item:first-child::after {
  content: "";
  border-bottom: 2px solid #2D2D2D;
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
}
.header__category-item-link {
  font-size: 12px;
  font-weight: 500;
  color: #637284;
  text-decoration: none;
}
.header-active-2 {
  color: #2D2D2D;
}
.header__firstmenu {
  background-color: #FFF;
}
.header__firstmenu-list {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px 24px 21px;
}
.header__firstmenu-item {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 13px;
  position: relative;
}
.header__firstmenu-logout-link {
  text-decoration: none;
  color: #2D2D2D;
  align-items: center;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}
.header__firstmenu-logout-link svg {
  padding-right: 8px;
}
.header__modal {
  overflow-y: scroll;
  z-index: 1000;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__modal.header__modal-open {
  display: block;
}
.header__secondmenu {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.header__secondmenu-title {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
}
.header__secondmenu-title svg {
  cursor: pointer;
}
.header__secondmenu-service {
  display: block;
  padding: 24px 22px 0 40px;
}
.header__secondmenu-content {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px ;
}
.header__secondmenu-content:nth-of-type(2) {
  padding-top: 40px;
}
.header__secondmenu-link {
  text-decoration: none;
}
.header__secondmenu-item {
  display: flex;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
}
.header__submenu {
  padding: 0 32px;
}
.header__submenu-list {
  height: 52px;
  display: flex;
  align-items: center;
}
.header__submenu-item {
  list-style: none;
  padding-right: 40px;
}
.header__submenu-item-link {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
}
.article {
  display: flex;
  padding: 0 32px;
}
.article__present {
  display: grid;
  gap: 119px;
}
.article__container {
  padding-top: 24px;
  display: grid;
  gap: 119px;
}
.article__navigation {
  display: flex;
  align-items: center;
}
.article__navigation-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #2D2D2D;
  text-transform: capitalize;
}
.article__infor {
  width: 466px;
}
.article__infor-title {
  font-size: 48px;
  font-weight: 600;
  height: 96px;
  line-height: 48px;
  margin: 0 0 24px 0;
  text-transform: capitalize;
}
.article__infor-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #2D2D2D;
  text-align: justify;
  padding-bottom: 64px;
}
.article__submenu-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 56px;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #DBDEE5;
}
.article__submenu-item:last-child {
  border-bottom: 1px solid #DBDEE5;
}
.article__img {
  padding-top: 100%;
  background-image: url(../svg/image.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
@media screen and (max-width: 739px) {
  .grid.wide {
    max-width: 343px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
  }
  .col {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media screen and (min-width: 740px) {
  .l-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 739px) {
  .header__mobile-list {
    display: flex;
  }
  .header__hide {
    display: none;
  }
  .header__navbar {
    padding: 16px 16px 0 16px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
  }
  .header__logo-big {
    display: none;
  }
  .header__category-list {
    padding: 0 4px 0 3px;
  }
  .header__category-item {
    padding: 8px 20px;
    width: 118px;
  }
  .header__submenu {
    display: none;
  }
  .main {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .header__hide-on-pc {
    display: none;
  }
  .header__content {
    display: block;
    position: static;
  }
  .header__navbar {
    padding: 0;
  }
  .header__navbar-list {
    padding: 0 12px;
  }
  .header__navbar-list :last-child {
    padding-right: 0;
  }
  .header__navbar-item-link {
    font-size: 12px;
    font-weight: 500;
  }
  .header__menu {
    display: flex;
  }
  .header__logo-small {
    display: none;
  }
  .header__mobile-notifi {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 32px;
    line-height: 32px;
  }
  .header__mobile-title {
    padding: 8px 32px;
    flex-direction: row-reverse;
  }
  .header__mobile-list:nth-child(4) {
    order: -1;
  }
  .header__category-item:first-child::after {
    border-bottom: 1px solid #2D2D2D;
    top: calc(100% + 14px);
    right: -2px;
    left: 0;
  }
  .header__category-item-link {
    font-size: 12px;
    font-weight: 500;
  }
  .header__category-item-link p {
    display: none;
  }
  .header__firstmenu {
    display: none;
  }
  .header__submenu-item {
    padding-right: 12px;
  }
  .header__submenu-item:last-child {
    padding-right: 0;
  }
  .header__submenu-item-link {
    font-size: 12px;
    font-weight: 500;
  }
  .article__present {
    gap: 76px;
  }
  .article__infor {
    width: 306px;
  }
  .article__infor-title {
    font-size: 30px;
    font-weight: 600;
  }
  .article__infor-content {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  .header__hide-on-pc {
    display: none;
  }
  .header__content {
    display: block;
    position: static;
  }
  .header__menu {
    display: flex;
  }
  .header__logo-small {
    display: none;
  }
  .header__mobile-notifi {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 32px;
    line-height: 32px;
  }
  .header__mobile-title {
    padding: 8px 32px;
    flex-direction: row-reverse;
  }
  .header__mobile-list:nth-child(4) {
    order: -1;
  }
  .header__category-item {
    padding-right: 40px;
  }
  .header__category-item:first-child::after {
    left: -3px;
    right: 36px;
    top: calc(100% + 20px);
  }
  .header__category-item-link {
    font-size: 14px;
    font-weight: 500;
  }
  .header__category-item-link p {
    display: none;
  }
  .header__firstmenu {
    display: none;
  }
}
