:root{
    --white-color: #FFFFFF;
    --black-color: #000000;
    --text-black-color: #2D2D2D;
    --icon-color: #374454;
    --text-navbar-color: #637284;
    --lines-gray: #DBDEE5;
    --separate-color: #DBDEE6;
   
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.p-32{
    padding: 0 32px;
}


