* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  margin: 0 auto;
}
.fonts-1 {
  font-size: 14px;
  font-weight: 500;
}
.fonts-2 {
  font-size: 12px;
  font-weight: 500;
}
.fonts-3 {
  font-size: 14px;
  font-weight: 700;
}
.fonts-4 {
  font-size: 20px;
  font-weight: 600;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.main {
  overflow: hidden;
}
.header {
  height: 92px;
  background-color: #FAFAFA;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 16px 0 16px;
  align-items: center;
}
.header__navbar-list {
  display: flex;
}
.header__navbar-item {
  list-style: none;
  padding-right: 23px;
  position: relative;
}
.header__navbar-item:last-child {
  padding-right: 0;
}
.header__navbar-item-link {
  color: #637284;
  text-decoration: none;
}
.header__navbar-separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-right: 1px solid #DBDEE6;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
}
.header__navbar-first {
  padding-right: 11px;
}
.header__navbar-active-1 {
  text-transform: none;
  color: #000;
}
.header__menu {
  padding-top: 8px;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  padding: 0 4px 0 3px;
  height: 44px;
  align-items: center;
  position: relative;
}
.header__menu-item {
  list-style: none;
  padding: 8px 30px;
  text-align: center;
}
.header__menu-item-link {
  color: #637284;
  text-decoration: none;
}
.header__menu-item-link:first-child::after {
  width: 110px;
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid #2D2D2D;
  top: 100%;
  left: 4px;
  right: 4px;
}
.header-active-2 {
  color: #2D2D2D;
}
.header__firstmenu {
  cursor: pointer;
}
.header__firstmenu-list {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px 24px 21px;
}
.header__firstmenu-item {
  align-items: center;
  border-bottom: 1px solid #DBDEE6;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 13px;
}
.header__firstmenu-logout-link {
  text-decoration: none;
  color: #2D2D2D;
  align-items: center;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}
.header__firstmenu-logout-link svg {
  padding-right: 8px;
}
.header__secondmenu-title {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
}
.header__secondmenu-service {
  display: block;
  padding: 24px 22px 0 40px;
}
.header__secondmenu-content {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 24px ;
}
.header__secondmenu-content:nth-of-type(2) {
  padding-top: 40px;
}
.header__secondmenu-link {
  text-decoration: none;
}
.header__secondmenu-item {
  display: flex;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  align-items: center;
  border-bottom: 1px solid #DBDEE6;
}
