
/*HEADER CSS*/
.header {
    height: 110px;
    overflow: hidden;
}

/*HEADER__NAVBAR*/
.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 58px;
}

.header__navbar-list,
.header__language-list , 
.header__icon-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    gap: 24px;
}

.header__navbar-item ,
.header__language-item ,
.header_icon-item {
    list-style: none;
    padding: 12px 0;
}


.header__navbar-item-link ,
.header__language-item-link ,
.header__icon-item-link {
    color: var(--text-navbar-color);
    text-decoration: none;
}

.active-1 {
    color: var(--text-black-color);
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 12px;
}

.active-2 {
    color: var(--text-black-color);
}

.header_navbar-logo {
    align-items: center;
    display: flex;
}

.header_navbar-logo img {
    padding-right: 2px;
}

.header__language-item {
    position: relative;
}

.separate::after {
    border-left: 1px solid var(--separate-color);
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/*HEADER__SUBMENU*/
.header__submenu {

}

.header__submenu-list {
    display: block;
    line-height: 50px;
    position: relative;  
}

.header__submenu-item {
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.header__submenu-list::before {
    border-bottom: 1px solid var(--separate-color) ;
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
}

.header__submenu-item-link {
    color: var(--text-black-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/* BANNER*/
.banner {
    padding-top: 25px;
}

