@media (max-width: 420px) {
    .header {
        &__navbar {
            padding: 16px 16px 0 16px;
        }
        &__menu {
            
            flex-direction: column;
            background-color: @header-color;
        }

        
        &__category {
            &-list {
                padding: 0 4px 0 3px;
            }

            &-item {
                padding: 8px 20px;
                width: 118px;
            
            }
        }
    }
    .article {

        &__infor {
            &-title {
                .fonts-12();

            }

            &-content {
                .fonts-1();

            }
        }

    }


}   
    
@media (min-width: 768px) {
    .header {
        &__category {
            &-item {
                &:first-child{
                      position: relative;
                    &::after {
                        top: calc(100% + 5px);
                        right: -4px;
                        left: -7px;
                        content: "";
                        border-bottom: 2px solid @black-color-text;
                        position: absolute;
                    }
                }
            }
        }
    }

    .article {

        &__infor {
            &-title {
                .fonts-11();
            }

            &-content {
                .fonts-8();
            }

  
        }

    }

    .container {
        &-nav {

        }

        &__title {
            .fonts-14();

        }

        &__list {
            padding-top: 32px;
            padding-bottom: 16px;

        }

        &__product {
            
            &-link {

            }
        }
        &__cate {
            &-desc {
                & h2 {
                    .fonts-14;
                    text-align: center;

                }

                & p {
                    .fonts-8();

                }
            }
        }
    }

}

@media (min-width: 1024px) {
    .hidden {
        display: block;
    }

    .header {
        &__hide-on-pc {
            display: none;
        }

        &__hide {
            display: flex;
        }

        &__content {
            display: block;
            position: static;
        }

        &__navbar {
            padding: 0;

            &-list{
                padding: 0 12px;

                :last-child {
                    padding-right: 0;
                }
            }

            &-item {
                &-link {
                    .fonts-1();
                }
            }

        }
        
        &__menu {
            background-color: @white-color;
            display: flex;
        }
        
        &__logo-small {
            display: none;
        }

        &__logo-big {
            display: block;
        }

        &__mobile {

            &-notifi {
                .fonts-3();
                text-align: center;   
                height: 32px;
                line-height: 32px;
            }
            &-title {
                padding: 8px 32px;
                flex-direction: row-reverse;
            }
            &-list {
                &:nth-child(4) {
                    order: -1;
                }
            }
        }
        &__category {
            &-item {
                padding-right: 40px;
                &:last-child {
                    padding-right: 0;
                }

                &:first-child{
                    &::after {
                        display: none;
                    }
                }

                &:first-child a {
                    position: relative;

                    &:first-child{
                        &::after {
                            content: "";
                            position: absolute;
                            border-bottom: 1px solid @black-color-text;
                            top: calc(100% + 14px);
                            right: -2px;
                            left: 0;
                        }
                    }

                }

                &-link {
                    .fonts-1(); 

                    & p {
                        display: none;
                    }  
                }

            }
        }

        &__firstmenu {
            display: none;
        }

        &__submenu {
            display: block;
            &-item {
                

                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }

    .article{
        &__present {
            max-width: 466px;
        }

        &__infor {
            &-title {
                margin-top: 120px;
            }
        }

    }

    .container {
        &-nav {
            padding-top: 152px;
            padding-bottom: 120px;
        }

        &__list {
            &-item {
                flex: 0 0 125px;
            }
        }

        &__border {
            border: none;
        }

        &__product {
            
            &-link {
                position: relative;

                &:hover {
                    
                    border: 1px solid #DBDEE6;
                    border-radius: 2px;

                    & svg {
                        display: none
                    }

                }

                & h3 {
                    .fonts-15();
                    color: @text-color;
                }

                & svg {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

            }
        }
        &__cate {
            position: relative;
            &-extends {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
            &-desc {
                max-width: 370px;
                
                & h2 {
                    text-align: left;
                }

                & p {
                }
            }

            &-img {
                display: flex;
                flex-direction: column;
                align-items: end;
                align-self: flex-end;
                & div {
                    position: absolute;
                    float: right;
                    right: 5%;
                    top: 20%;
                }
                

                &-rectangle {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    order: -1;
                    & svg {
                        &:last-child {
                            position: absolute;
                            left: -15px;
                            top: 100%;
                        }
                    }
                }

                & img {
                    width: 55%;
                    height: auto;
                }
                

            }

            &-image {
                padding-top: 0;
                order: -1;
                
            }
        }

        &__best {
            padding-top: 120px;
            position: relative;
            &-text {
                & h2 {
                    .fonts-14();
                }
            }

            &-item {
                &-img {
                }

                & p {
                    .fonts-1();
                }
            }

            &-move-left , &-move-right {
                display: block;
                position: absolute;
                top: 65%;
                z-index: 99999;
            }

            &-move-left {
                left: -4px;
            }

            &-move-right {
                right: 2px;

            }

            &-price {

            }
        }

        &__shop {
            padding-bottom: 200px;
       
            &-img {

            }

            &-Jewe {
                position: relative;

            }
            .p-l-80 {
                padding-left: 80px;
            }

            &-title {
               max-width: 80%;
            }

            &-card {
                background: #FFFFFF;
                border: 4px solid #FAFAFA;
                border-radius: 2px;
                position: absolute;
                padding: 80px 0;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% - 158px);
                inline-size: 66%;

                & h2 {
                    .fonts-14();

                }

                & p {

                }

                &-btn {

                }

                & svg {
                    display: block;
                }
                
            }

            &-corner-m {
                position: absolute;
                left: -10px;
                top: calc(100% - 20px);

            }

            &-corner-l {
                position: absolute;
                right: 16px;
                top: 5%;

            }
        }

    }
   
    .footer {
        &__heading {
            height: 48px;
            &-close {
                display:block;
            }

            &-list {
                display: flex;
                justify-content: space-evenly; 
                align-items: center;
                line-height: 48px;
                padding: 0;
            }
        }

        &__subscribe  {
            & h2 {
                .fonts-4();
            }

            & p {
                .fonts-1();
            }

        }

        &__sponsor {
            &-item {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 16px;
                    border-right: 1px solid #DBDEE6;
                    top: 40%;
                    transform: translateY(-50%);
                                 
                }   
                &:first-child{
                    &::before {
                        display: none ;
                    }

                }
            }
        }

        &__contact {
            &-help {
                padding-top: 79px;
            }

            &-finish {
                padding-top: 0;
            }
        }

        &__bottom {
            .display-flex();
            align-items: center;
            &-country {
                display: block;
            }
            &-list {
                display: flex;
                order: 1;
                padding: 14px 0 0 0;
            }
            &-item {
                padding-right: 40px;
                &:last-child {
                    padding-right: 0;
                }

            }
        }


    }
}

    

