@media (max-width: 420px) {
    .header {
        &__navbar {
            padding: 16px;
        }
        &__menu {
            flex-direction: column;
            background-color: @header-color;
            border-bottom: 1px solid @border-color;
        }
    }
    
    .banner {
        &__desc {
            &-content {
                padding-bottom: 60px;
            }
        }
    }
}   
    
@media (min-width: 768px) {

    .article {
        &__infor {            
            &-title {
                .fonts-11();
            }

            &-content {
                .fonts-8();
            }
        }
    }

    .container {

        &__list {
            padding-top: 32px;
            padding-bottom: 16px;
        }

        &__cate {
            &-desc {
                & h2 {
                    text-align: center;
                }

                & p {
                    .fonts-8();
                }
            }
        }
    }

    .banner {  
        &__desc {
            
            &-btn {
                width: 250px;                  
            }
        }
    }
 

    .footer {
        &__sponsor {
    
            &-list {    
    
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 16px;
            }
        }
        &__contact {
            &-help {
                &:last-child {
                    padding-bottom: 60px;
                }
            }
        }
    }

}

@media (min-width: 1024px) {

    .header {
        &__content {
            display: block;
            position: static;
        }

        &__navbar {
            padding: 0;

            &-list{
                padding: 0 12px;

                :last-child {
                    padding-right: 0;
                }
            }

            &-item {
                &-link {
                    .fonts-1();
                }
            }
        }
        
        &__menu {
            background-color: @white-color;
            display: flex;
            padding: 0;
        }

        &__mobile {

            &-notifi {
                .fonts-3();
                text-align: center;   
                height: 32px;
                
            }

            &-title {
                padding: 8px 32px;
                flex-direction: row-reverse;
            }

            &-list {
                &:nth-child(4) {
                    order: -1;
                }
            }
        }

        &__category {

            &-list {
                
            }

            &-item {
                flex: none;
                padding: 0 60px 0 0;

                &:first-child{
                    border-bottom: none;
                    &::before {
                        border-bottom: 1px solid #2D2D2D;
                        position: absolute;
                        right: 54px;
                        left: -4px;
                        content: "";
                        top: 25px;
                    }
                }
                
                &-link {
                    .fonts-1(); 
                   
                    & p {
                        display: none;
                    }  
                }
            }
        }

        &__firstmenu {
            display: none;
        }

        &__submenu {
            display: block;
            &-item {                     
                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }

    .article{
        &__present {
            
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__infor {
            max-width: 466px;
            &-title {
               
            }
        }
        &__infor {
            &-title {
                .fonts-7();
            }         
        }

        &__img {
            & svg {
               
                position: absolute;

                &:first-child {                    
                    top: 12px;
                    right: 12px;                
                }

                &:last-child {                    
                    top: 87%;
                }
            }
            
        }
    }

    .container {
        &__list {
            &-item {
                flex: 0 0 125px;
            }
        }

        &__border {
            border: none;
            margin-right: 0;
        }

        &__product {
            
            &-link {
                position: relative;
                &:hover {
                    border: 1px solid #DBDEE6;
                    border-radius: 2px;
                    
                }

                & h3 {
                    .fonts-15();
                    color: @text-color;
                }

                & svg {
                    
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }

        &__cate {
            position: relative;

            &-img {
                & img {
                    width: 55%;
                }
            }

            &-extends {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &-desc {
                max-width: 370px;               
                & h2 {
                    text-align: left;
                }
            }

            &-image {
                padding-top: 0;
                order: -1;               
            }
        }

        &__best {
            position: relative;
            &-item {
                &-img {
                    & div {
                        background-size: contain;
                    }
                }

                & p {
                    .fonts-1();
                }
            }
        }

        &__shop {
            &-Jewe {
                position: relative;
            }

            &-title {
               max-width: 80%;
            }

            &-card {
                background: #FFFFFF;
                border: 4px solid #FAFAFA;
                border-radius: 2px;
                position: absolute;
                padding: 80px 0 80px 80px;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% - 340px);
                inline-size: 66%;                            
            }

            
        }
    }

    .banner {
        &__content {
            display: flex;
        }

        &__desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 68px;

            &-content {
                width: 404px;
            }          
        }
    }

    .rings {
        position: relative;

        &__text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center
        }

        &__video {
            position: relative;

            &-left {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                order: 1;
            }
        }

        &__content {
            max-width: 500px;               
        }

        &__img {
            margin-bottom: 24px;
            & h4 {
                .fonts-4();
            }
        }
    }

    .best__seller {
        & h2 {
            padding-top: 60px;
        }
    }

    .topic {
        position: relative;

        &__item {
            padding-top: 40px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            order: 1;
            
            &-desc {
                width: 418px;
            }
           
            &-item {
                & h5 {
                    .fonts-3();
                }

                & p {
                    .fonts-1();
                }
            }
        }

        &__first {
            order: 1;
        }    
    }

    .paragraph {
        &__content {
            &-list {
                padding-bottom: 0;
            }
        }
    }

    .benefits {
        &-col {
            margin-bottom: 0;
        }
    }

    .title {
        &__bottom {
            &-left {
                left: 5px;
            }

            &-right {
                right: -8px;
            }
        }

        &__left {
            left: 9px;
        }      
    }

    .cover__white {
        & span {
            padding-top: 20px;
        }
    }
  
    .footer {
        &__heading {
            height: 48px;

            &-list {
                display: flex;
                justify-content: space-evenly; 
                align-items: center;
                padding: 12px 0;
            }
        }

        &__subscribe  {
            & p {
                .fonts-1();
            }
        }

        &__sponsor {
            &-list {
                display: flex;
            }
            &-item {
                flex: 1;   
                &-link {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        height: 60%;
                        border-left: 1px solid #e5e5e5;
                        transform: translateY(-50%);
                        display: block;
                    }
                }  
                &:last-child a{
                    &::before {
                        display: none;
                    }
                    
                }     
            }

            &-img {
                margin-left: auto;
                margin-right: auto;
            }
            
        }

        &__contact {
            &-help {
                padding-top: 79px;
            }

            &-finish {
                padding-top: 0;
            }
        }

        &__bottom {
            .display-flex();
            align-items: center;

            &-country {
                display: block;
            }

            &-list {
                display: flex;
                order: 1;
                padding: 14px 0 0 0;
            }

            &-item {
                padding-right: 40px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}



