.wapper {
    overflow: hidden;
}
 
.header {
    
    &__mobile {
        border-bottom: 1px solid @border-color;

        &-notifi {
            height: 26px;
            display: block;
            line-height: 26px;
            padding-left: 10px;
            background-color: @noti-color;
            .fonts-2();
            color: @white-color;           
        }
        
        &-title {
            .display-flex();
            align-items: center;
            padding: 4px 12px 7px 12px;
        }

        &-list {
            .display-flex();  
        }

        &-item {
            list-style: none;
            padding-right: 18px;
            height: 24px;
            cursor: pointer;
            &:last-child {
                padding-right: 0;
            }

            &:nth-child(3) {
                padding-top: 3px;
            }

            &-link {
                .fonts-1();
                color: @text-color;
                text-decoration: none;
            }
        }
    }

    &-icon {
        cursor: pointer;
    }

    &__content {
        position: fixed;
        background-color: @white-color;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;

        &&-open {
            display: block;          
        }     
    }

    &__menu {
        background-color: @header-color;
        padding: 0 16px 6px 16px;
    }

    &__logo-big {
        display: none;
    }
    
    &__navbar {
        padding: 16px 16px 0 16px;
        .display-flex();
        .fonts-1();
        align-items: center;

        &-list {
            display: flex;          
        }

        &-item {
            list-style: none;
            padding-right: 23px;
            position: relative;

            &:last-child {
                padding-right: 0;
            }

            &-link {
                .fonts-1();
                color: @text-color;
                text-decoration: none;
            }
             
        }
        &-separate::after {
            content: "";
            display: block;
            position: absolute;
            height: 12px;
            border-right: 1px solid @gray-line-color;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-first {
            padding-right: 11px;
        }

        &-active-1 {
            text-transform: none;
            color: @black-color;
        }
    }

    &__hide {
        display: none;
    }

    &__category {
        &-list {
            .display-flex();
            .fonts-2();
            height: 44px;
            align-items: center;
            padding: 0 4px 0 3px;
        }
        
        &-item {
            list-style: none;
            text-align: center;            
            position: relative;
        
            &:first-child{
                &::after {
                    content: "";
                    border-bottom: 2px solid @black-color-text;
                    position: absolute;
                    top: 100%;
                    right: 4px;
                    left: 1px;
                }
            }
            
            &-link {
                .fonts-2();
                color: @text-color;
                text-decoration: none;
            }  
            &:first-child a{
                color: @black-color-text;
            }
        }
    }

    &-active-2 {
        color: @black-color-text;
    }

    &__firstmenu {
        background-color: @white-color;
    
        &-list {
            color: @black-color-text;
            .fonts-3();
            padding: 10px 20px 24px 21px;
        }
        
        &-item {
            cursor: pointer;
            align-items: center;
            border-bottom: 1px solid @border-color;
            height: 44px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-right: 13px;
            position: relative;
        }
    
        &-logout-link {
            text-decoration: none;
            color: @black-color-text;
            align-items: center;
            padding-left: 20px;
            display: flex;
            .fonts-1();
    
            & svg {
                padding-right: 8px;
            }
        }
    }

    //header_second
    
    &__modal {
        overflow-y: scroll;
        z-index: 1000;
        max-width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;

        &&-open {
            display: block;          
        }
    }

    &__secondmenu {
        width: 100%;
        position: relative;
        background-color: #fff;
    
        &-title {
            height: 50px;
            background-color: @header-color;
            .display-flex();
            align-items: center;
            padding: 0 16px;
            color: @black-color-text;
            .fonts-3();

            & svg {
                cursor: pointer;
            }
        }

        &-service {
            display: block;
            padding: 24px 32px 0 32px;
        }

        &-content {
            padding-bottom: 24px ;

            &:nth-of-type(2) {
                padding-top: 40px;
            }          
        }

        &-link {
            text-decoration: none;
        }

         &-item {
            display: flex;
            height: 44px;
            .fonts-1();
            color: @black-color-text;
            align-items: center;
            border-bottom: 1px solid @border-color;
         }
    }

    //HEADER__SUBMENU
    &__submenu {
        display: none;
        &-list {
            height: 52px;
            display: flex;
            align-items: center;
        }

        &-item {
            list-style: none;
            padding-right: 40px;
            &-link {
                text-transform: capitalize;
                text-decoration: none;
                .fonts-1();
                color: @black-color-text
            }
        }
    }

}

.article {
    &__container {
        padding-top: 50px;     
    }

    &__navigation {
        display: flex;
        align-items: center;
        &-link {
            text-decoration: none;
            .fonts-6();
            color: @black-color-text;
            text-transform: capitalize;
        }
    }

    &__infor {
        margin-top: 24px;
        margin-bottom: 26px;
  
        &-title {
            .fonts-12();
            line-height: 48px;
            text-transform: capitalize;
        }

        &-content {
            .fonts-1();
            line-height: 28px;
            color: @black-color-text;
            text-align: justify;
            padding-bottom: 64px;
        }
    }

    &__submenu {
        &-item {
            text-transform: uppercase;
            cursor: pointer;
            .display-flex();
            align-items: center;
            list-style: none;
            height: 56px;
            .fonts-3();
            border-top: 1px solid @border-color;

            &:last-child {
            border-bottom: 1px solid @border-color;
            }
        }
    }

    &__img {
        padding-top: 100%;
        background-image: url(../svg/logo.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        position: relative;

        & svg {
            display: none;
        }
    }

}
.hidden {
    display: none;
}

.container {
    &-nav {

        &-second {
            margin-bottom: 24px;
        }
    }
    &__title {
        padding-bottom: 20px;
    }

    &__list {
        display: flex;
        padding: 16px 0;
        &-item {
            list-style: none;
            flex: 1;
            height: 44px;
            text-align: center;
            border-bottom: 1px solid @border-color;
            &:last-child {
                border-bottom: 1px solid @noti-color;
            }
        }

        &-link {
            .fonts-1();
            color: @black-color-text;
            text-decoration: none;
            line-height: 44px;
        }
    }

    &__border {
        border: 1px solid @gray-line-color;
        border-radius: 2px;
        margin-right: 4px;
    }

    &__product {
       
        &-link {
            display: flex;
            text-decoration: none;
            align-items: center;
            min-width: 160px;
          
            & h3 {
                .fonts-1();
                color: @black-color-text;
                width: 50%;
                text-align: center;
            }

            & img {
                width: 50%;
            }

            & svg {
                display: none;
            }
        }
    }

    &__cate {
        &-desc {

            & p {
                padding: 20px 0;
                text-align: justify;
            }
        }

        &-img {
            &-rectangle {
                display: none;
            }      
        }

        &-image {
            padding-top: 20px;
            border-radius: 6px;
        }
    }

    &__best {
        &-text {
            display: flex;
            justify-content: space-between;
            & h2 {             
                padding-bottom: 40px;
            }
            &-view {
                .fonts-3();
            }
        }

        &-item {
            display: block;
            text-decoration: none;
            padding-bottom: 20px;
            
            &-img {
                position: relative;

                & div {
                    padding-top: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top center;                  
                }
                
            }

            &-heart {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                &-diamond {
                    position: absolute;
                    top: calc(100% - 30px);
                    left: 0;
                }

                & p {
                    padding-bottom: 4px;       
                }
        }

        &-price {
            .fonts-3();
            color: @black-color-text;
        }
    }

    &__shop {
        &-img , &-main {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            padding-top: 60%;
        }
        
        &-img {
            background-image: url(../svg/shop.png) ;
            position: relative;
        }
        &-main {
            background-image: url(../svg/topic-12.png);
        }

        &-card {
            
            & h2 {               
                padding-bottom: 16px;              
            }
            & p {             
                padding-bottom: 24px;            
            }

            &-btn {
                background-color: @black-color-text;
                color: @white-color;
                width: 140px;
            }
            
            & svg {
                display: none;
            }
        }
    }
}

.banner {
    background-color: @black-color-text;
    margin-top: 80px;
    
    &-img {
        background-image: url(../svg/banner.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        padding-top: 60%;
    }

    &__desc {

        &-content {
            padding-bottom: 60px
        }
        &-title {
            .fonts-4();
            line-height: 120%;
            color: @white-color;
            padding-top: 4px;
        }
        
        &-paragraph {         
            .fonts-1();
            line-height: 140%;
            color: @white-color;
            padding: 24px 0;
        }

        &-btn {
           background-color: @white-color;
           color: @black-color-text;
           width: 140px;
        }
    }
}

.rings {
 
    &__text {     
        &-view {
            padding-top: 38px;
            display: flex;
            align-items: center;
        }
    }

    &__rectangle {
        display: none;
    }

    &__img {
        position: relative;
        &-img {
            margin-top: 32px;           
        }

        & h4 {            
            text-transform: capitalize;
        }

        &-text-first {
            bottom: 20px;
            position:absolute;
            left: 10%;
        }

        &-block {
            display: block;
            position: absolute;
            bottom: 33px;
            left: 10%;

            & button {
                margin-top: 16px;
            }
        }      
    }

    &__content {
        & h2 {
            padding-bottom: 16px;
        }
    }

    &__video {
       
        &-img {
            margin-top: 20px;
            position: relative;
            & img {
                width: 100%;
            }
        }

        &-stop {
            & .stop,
            &-icon {
              position: absolute;
              z-index: 10;
              right: 50%;
              transform: translate(50%, -50%);  
            }

            & .stop {
                top: 50%;
            }

            &-icon {
                top: 43%;
            }

        }


        &-bottom,
        &-above {
            display: none;
        }            
    }
}

.best__seller {
    & h2 {
        padding-bottom: 24px;
    }
    &-img {
        width: 100%;
        padding-bottom: 16px;
    }

    & p {
        .fonts-3();
        padding-bottom: 24px;
    }
}

.topic{
    background-color: @background-color;
    &__content {
        & p {
            padding-bottom: 32px;
            padding-top: 16px;
        }

        &-list {
            display: flex;
        }

        &-item {
            list-style: none;

            &:nth-of-type(2n +1 ) {
                padding-right: 16px;
            }

            & p{
                padding-top: 8px;
            }
        }

        &-img {
            padding-bottom: 32px;
        }
    }

    &-rectangle {
        display: none;

    }
}

.paragraph {
    position: relative;
    &__title {
        padding-bottom: 32px;
        text-transform: capitalize;
    }

    &__content {
        &-item {
            padding-bottom: 16px;
            list-style: none;     
        }
    }
}

.title {
    &__img {
        display: flex;       
        position: relative;

        & svg {        
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__left {
        left: 4px;
    }

    &__right {
        right: -30px;
    }

    &__pagi {
        display: flex;
        justify-content: center;

        & svg {
            margin-top: 32px;
            margin-right: 8px;
        }
    }

    &__bottom {
        &-img {

            &-picture {
                width: 100%;
            }

            &-first {
                position: relative;
                display: block;
            }

            & svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

        }
        &-left {
            left: 0;
        }

        &-right {
            right: -31px;
        }
    }

    &-item {
        display: block;
    }
}

.benefits {
    & h2 {
        padding-bottom: 66px;
    }

    &__item {
        background-color: @background-color;
        position: relative;
        padding-bottom: 36px;

        & svg {
            &:last-child {
                position:absolute;
                right: 0;
            }
        }

        & h6 {
            padding: 26px 0 12px 0;
        }
    }

    &-col {      
        margin-bottom: 36px;
    }
}

.main__subscribe {
    background-color: @black-color;
    position: relative;

    &-text {
        color: @white-color;
    }

    &-btn {
        background-color: @noti-color;
        height: 36px;
        width: 40px;        
        cursor: pointer;
        border: none;
    }
}

.cover__white {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 30px);
    background: linear-gradient(0, #ffffff 0%, rgba(255, 255, 255, 0) 91.21%);
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.footer {
    padding-top: 64px;
    &__heading {
        background-color: @noti-color;
        padding: 0 19px;       

        &-close {
            display: none;
            float: right;
            padding-top: 14px;
        }

        &-list {
            display: grid;
            grid-template-columns: auto auto; 
            row-gap: 12px;  
            padding-top: 26px;
            padding-bottom: 20px;
            column-gap: 14px;
        }

        &-item {        
            list-style: none;

            &-link {
                text-decoration: none;
                .fonts-3();
                color: @white-color; 
            }
        }
    }

    &__subscribe {
        background-color: @header-color;
        position: relative;
        
        &-block {
            padding: 57px 0;
            display: grid;
            justify-content: center; 
            row-gap: 24px;
        }
    }

    &__email {
        background-color: @white-color;
        height: 40px;
        display: flex;
        align-items: center;
        flex: 1;
        border: 1px solid @gray-line-color;
        border-radius: 2px;
        
        &-input-wrap {
            flex: 1;
            height: 100%;
        }

        &-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0 16px;
            .fonts-1 ();
            color: @text-color;
        }

        &-btn {
            border: none;
            height: 36px;
            width: 40px;
            background-color: @black-color-text;
            cursor: pointer;
        }
    }

    &__sponsor {
        position: relative;

        &-list {    
            align-items: center;
            padding: 24px 0;
            border-bottom: 1px solid @gray-line-color;
            border-top: 1px solid @gray-line-color;
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            flex: 1;
            list-style: none;     
            
            &:first-child {
                & img {
                    margin: 0;
                }
            }
        }

        &-img {
            height: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
    }

    &__contact {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        &-rating {
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 22px;

            & h2 {
                padding-right: 12px;
        
                color: @black-color-text;
            }
            &-point {
                .fonts-10();
                color: @black-color-text;
            }
        }

        &-star-list {
            display: flex;
        }

        &-star-item {
            list-style: none;
            padding-right: 4px;
            cursor: pointer;
        }
         
        &-item {
            list-style: none;
            padding-bottom: 20px;
        }

        &-link {
            text-decoration: none;
            .fonts-10();
            color: @black-color-text;
            line-height: 1.8;
        }

        &-finish {
            padding-top: 28px;
            padding-bottom: 16px;
            &-link {
                .fonts-10();
                color: @black-color-text;
                text-decoration: none;
            }
        }

        &-badges {
            &-img {
                padding-right: 14px;
                padding-bottom: 12px;
            }
        }
    }
    
    &__social {
        padding-bottom: 48px;

        &-link {
            text-decoration: none;
            padding-left: 8px;
        }
    }

    &__bottom {      
        padding-bottom: 20px;
        display: block;

        &-country {
            display: flex;
            .fonts-3();

            &-img {
                padding-right: 12px;
            }

        }

        &-list {
           padding: 16px 37px 48px 37px;
        }

        &-item {
            list-style: none;
            padding-right: 20px;
            padding-bottom: 16px;

            &:last-child {
                padding-right: 0;
            }

            &-link {
                .fonts-1();
                text-decoration: none;
                color: @text-color;
            }

            &:first-child a{
                color: @black-color-text;
            }
        }
        
        &-year {
            color: @text-color;
            .fonts-1();
            padding: 0 37px;
         }
    }
}



@import '_grid.less';
@import '_responsive.less';
@import '_base.less'; 